<!doctype html>
<html ng-app="sae" class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SAE IIT Kanpur</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" href="logo.ico" type="image/x-icon" />
        <!-- Place favicon.ico in the root directory -->
         <link rel="stylesheet" href="css/normalize007.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600'>

        <link rel="stylesheet" href="css/style007.css">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/Font_Families.css">
        <link rel="stylesheet" href="css/timeline_events.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="blogDetails">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="cd-header">
            <div id="cd-logo"><a href="#0"><img src="img/iitk_motor1.png" alt="Logo"></a></div>
        </header>
        <section id="cd-intro" style="height:100vh;background-image:url(img/Blog/cover.jpg);">
            <div id="cd-intro-tagline">
                <h1>News Feed</h1>
            </div>
        </section>
        <section class="timeline-events news-feed">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-9">
                        <div id="cd-timeline-blog" class="cd-container">
                            <div ng-repeat="i in arr.blog" class="cd-timeline-block" ng-attr-id="blog-{{$index}}">
                                <div class="cd-timeline-img">
                                    <div>    
                                        <span class="font-icon font-icon-pen"></span>
                                    </div>
                                </div>
                                <div class="cd-timeline-content">
                                    <h2>{{i.title}}</h2>
                                    <i>by <strong>{{i.author}}</strong></i>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img ng-src="./img/Blog/{{i.thumbnail_src}}">
                                        </div>
                                        <p class="col-md-8" ng-bind-html="i.des"></p>
                                    </div>    
                                    <a class="cd-read-more" ng-click="blogClicked(i)">
                                        Read more
                                    </a>
                                    <span class="cd-date">{{i.date}}</span>
                                </div>
                            </div>                      
                        </div>
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>    
            </div>
        </section>
        <div class="overlay-fixed" ng-class="{in : showOverlay}">
            <a class="cd-close" ng-click="blogClosed()">Close</a>
            <div class="wrapper">
                <div class="row">                    
                    <div class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="">
                                <h2>{{temp.title}}</h2>
                                <i>by <strong>{{temp.author}}</strong>, {{temp.date}}</i>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img ng-src="./img/Blog/{{temp.thumbnail_src}}">
                                    </div>
                                    <p class="col-md-12" ng-bind-html="temp.des"></p>
                                </div>    
                            </div>
                        </div>                      
                    </div>                    
                    <div class="col-md-3">
                        
                    </div>
                </div>    
            </div>
        </div>
        <script src="js/common.js"></script>    
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/sd.js"></script>
        <script src="js/plugins.js"></script>
<script src="js/index007.js"></script>

    
    </body>
</html>
