<!doctype html>
<html ng-app="sae" class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SAE IIT Kanpur</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" href="logo.ico" type="image/x-icon" />
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/threesixty.css">
        <link rel="stylesheet" href="css/cars_specs.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/Font_Families.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/BootSideMenu.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>


    </head>
    <body ng-controller="carDetails" class="cars-html">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


        <div id="test" class="container sidebar sidebar-left" data-status="closed" style="left: -230px;"><div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg1-12" data-side="left">


          <div class="list-group">
            <a href="#" class="list-group-item ">Home</a>
            <a href="#" class="list-group-item">About Us</a>
            <a href="#" class="list-group-item">Our Team</a>
        <!-- /*********drop****************/ -->
            <div class="dropdown" class="list-group" class="list-group-item" >
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="color:black; background-color:white; width:100%; font-size:130%; text-align:left; -webkit-border-radius: 0 ; border:0px;">Our Cars
                  <span class="caret"></span></button>
                <ul class="dropdown-menu" class="list-group-item" >
                  <li><a href="#">F13</a></li>
                  <li><a href="#">B15</a></li>
                  <li><a href="#">E15</a></li>
                  <li><a href="#">B16</a></li>
                  <li><a href="#">F16</a></li>
                </ul>
              </div>
        <!-- /*********drop************/ -->
             <a href="#" class="list-group-item">Sponsors</a>
             <a href="#" class="list-group-item">Alumni</a>
             <a href="#" class="list-group-item">Contact Us</a>
          </div>


         </div>
        </div><div class="toggler">
        <span class="glyphicon glyphicon-chevron-right" style="display: block;">&nbsp;</span> <span class="glyphicon glyphicon-chevron-left" style="display: none;">&nbsp;</span>
        </div></div>









        <section class="cd-section car-3d">
            <div id="myCar" class="threesixty product1 all-centered">
              <div class="spinner">
                  <span>0%</span>
              </div>
              <ol class="threesixty_images"></ol>
            </div>
            <div class="nav-car-3d">
                <div class="fl-left custom_buttons custom_previous">
                    <span class="font-icon font-icon-previous2"></span>
                </div>
                <div class="all-centered custom_buttons custom_play toggle-it">
                    <span class="font-icon font-icon-play3"></span>
                </div>
                <div class="fl-right custom_buttons custom_next">
                    <span class="font-icon font-icon-next2"></span>
                </div>
            </div>
        </section>

        <section class="cd-section car-journey is-60-40" data-aspect="0.6" style="position:relative;z-index:10;">
            <div class="cd-block">
                <div class="cd-half-block" style="background:rgba(3, 13, 24, 0.96);">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="item" ng-repeat="i in arr.car_gallery" ng-class="{active: $index==0}">
                          <img ng-src="img/{{arr.car_name}}/{{i.image_src}}">
                          <div class="carousel-caption">
                            <h2>{{i.caption_title}}</h2>
                            <p>{{i.caption_des}}</p>
                          </div>
                        </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="font-icon font-icon-arrow-left2" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="font-icon font-icon-arrow-right2" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                </div>
                <div class="cd-half-block" style="padding-right:10%;">
                    <h1>{{arr.car_name}}</h1>
                    <p class="overflow-des">{{arr.car_journey}}</p>
                </div>
            </div>
        </section>

        <section class="cd-section car-specs is-70-30" data-aspect="0.7" ng-if="checkEmptyLength(arr.car_achievement)">
            <div class="cd-block">
                <div class="cd-half-block"></div>
                <div class="cd-half-block">
                    <h1>Achievements</h1>
                    <div ng-repeat="i in arr.car_achievement"><strong>{{i.title}}</strong> - {{i.des}}</div>
                </div>
            </div>
        </section>

        <section class="cd-section is-20-80" data-aspect="0.2">
            <div class="cd-block">
                <div class="cd-half-block"></div>

                <div class="cd-half-block">
                    <h1>Specifications</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <table ng-repeat="(i,j) in arr.car_specs.left" class="table-default">
                                <tr>
                                    <th>{{i}}</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="(k,l) in j">
                                    <td>{{k}}</td>
                                    <td>{{l}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table ng-repeat="(i,j) in arr.car_specs.right" class="table-default">
                                <tr>
                                    <th>{{i}}</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="(k,l) in j">
                                    <td>{{k}}</td>
                                    <td>{{l}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cd-section is-20-80" data-aspect="0.2">
            <div class="cd-block">
                <div class="cd-half-block"></div>
                <div class="cd-half-block theme-bg">
                    <h1>The Team</h1>
                    <div class="pull-left">
                        <div class="pull-left">
                            <div ng-repeat="i in arr.car_team.FacultyAdvisor" class="fl-left list-block imp-cat">
                                <div class="ver-centered"></div>
                                <div class="fl-left intro">
                                    <h3>{{i}}</h3>
                                    <i>Faculty Advisor</i>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left">
                            <div ng-repeat="(i,j) in arr.car_team.Team" class="fl-left list-block">
                                <div class="ver-centered"></div>
                                <div class="fl-left intro">
                                    <h3>{{i}}</h3>
                                    <i>{{j}}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <nav>
            <ul class="cd-vertical-nav">
                <li><a class="cd-prev inactive">Next</a></li>
                <li><a class="cd-next">Prev</a></li>
            </ul>
        </nav>

        <script src="js/common.js"></script>
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/sd.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/scroll_layout.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src='js/threesixty.js'></script>
        <script src="js/cars_specs.js"></script>



        <script src="js/index.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="js/BootSideMenu.js"></script>





    </body>
</html>
